[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=OpenSCAM
Exec=openscam
Terminal=false
Categories=Science
Comment=Open-Source Simulation & Computer Aided Machining
Icon=openscam.png
StartupNotify=true
