ul.nav.sidenav
  li
    a(href='#overview') Overview
  li
    a(href='#projects') Projects
    ul.nav
      li
        a(href='#projects-file-operations') New, Open, Close, Save & Save As
      li
        a(href='#projects-detecting-modifications') Detecting Modifications
      li
        a(href='#projects-viewing-examples') Viewing the Examples
      li
        a(href='#projects-units') Units
  li
    a(href='#simulation') Simulation
    ul.nav
      li
        a(href='#simulation-start-stop') Starting, Stopping & Smoothing
      li
        a(href='#simulation-progress') Progressbar
      li
        a(href='#simulation-resolution') Adjusting the Resolution
      li
        a(href='#zoom-translate-rotate') Zoom, Translate & Rotate
      li
        a(href='#simulation-snapping') Perspective Snapping
      li
        a(href='#simulation-view') Changing View Options
      li
        a(href='#simulation-partial') Partial Simulations
  li
    a(href='#layout') Layout
    ul.nav
      li
        a(href='#layout-moving') Moving Docks & Toolbars
      li
        a(href='#layout-fullscreen') Fullscreen
      li
        a(href='#layout-saving') Saving the Layout
  li
    a(href='#playback') Tool Path Playback
    ul.nav
      li
        a(href='#playback-position') Tool Path Position
      li
        a(href='#playback-control') Playback Control
  li
    a(href='#nc-files') NC Files
  li
    a(href='#tools') Tools
    ul.nav
      li
        a(href='#tools-add-remove') Adding & Removing
      li
        a(href='#tool-view') Tool View
      li
        a(href='#tools-order') Changing Tool Order
      li
        a(href='#tools-description') Description
      li
        a(href='#tools-units') Units
      li
        a(href='#tools-shape') Shape
      li
        a(href='#tools-dimensions') Dimensions
  li
    a(href='#workpiece') Workpiece
    ul.nav
      li
        a(href='#workpiece-automatic') Automatic
      li
        a(href='#workpiece-manual') Manual
      li
        a(href='#workpiece-view') View
  li
    a(href='#export') Exports & Snapshots
    ul.nav
      li
        a(href='#export-surface') Surface
      li
        a(href='#export-tool-path') Tool Path
      li
        a(href='#export-snapwhot') Snapshot
  li
    a(href='#docks') Docks
    ul.nav
      li
        a(href='#docks-project') Project
      li
        a(href='#docks-context') Context
      li
        a(href='#docks-position') Position
      li
        a(href='#docks-estimates') Estimates
      li
        a(href='#docks-status') Machine Status
      li
        a(href='#docks-bounds') Bounds
  li
    a(href='#toolbars') Toolbars
    ul.nav
      li
        a(href='#toolbars-project') Project
      li
        a(href='#toolbars-view') View
      li
        a(href='#toolbars-perspective') Perspective
