.page-header
  h1#nc-files NC Files
p
  | NC files, or Numerical Control files, contain tool path information.
  | These may either be G-Code files or TPL (<a href='//tplang.org/'>Tool Path
  | Language</a>) files.  G-Code files usually have a <tt>.nc</tt>,
  | <tt>.ngc</tt> or <tt>.gcode</tt> file extension.  TPL file names should
  | end in <tt>.tpl</tt>.
p
  | NC files may be added either via the <tt>Project</tt> menu
  | or by right clicking on the <tt>Project</tt> dock.  To remove an NC file
  | right click on it's name in the <tt>Project</tt> dock and select
  | <tt>Remove File</tt>.
p
  | If OpenSCAM detect changes to an NC file it will automatically restart
  | the simulation.
