.page-header
  h1#overview Overview
p
  | This manual describes how to use the various parts of the OpenSCAM
  | software <a href="http://en.wikipedia.org/wiki/GUI">GUI</a>.  The GUI
  | consists of a set of menus, toolbars, docks, the simulation view and
  | the tool view.  These parts are described in detail in the later sections.
  | The graphic below highlights these parts.

a(href='images/manual/overview.png', rel='shadowbox')
  img(src='images/manual/thumbs/overview.png')

h3 Tooltips
p
  | All of the parts of the GUI have tooltips which you can view by holding
  | the mouse pointer over component for a few seconds.  Tooltips explain
  | the component's purpose.
