- var page = 'manual';
doctype html
html(lang='en')
head
  include ../head
body(class = 'page-' + page)
  include ../header

  .container.docs-container
    .row
      .col-md-3
        .sidebar.hidden-print(role='complementary')
          #toc
            include menu

      .col-md-9(role='main')

        .docs-section
          include overview
        .docs-section
          include projects
        .docs-section
          include simulation
        .docs-section
          include layout
        .docs-section
          include playback
        .docs-section
          include nc-files
        .docs-section
          include tools
        .docs-section
          include workpiece
        .docs-section
          include export
        .docs-section
          include docks
        .docs-section
          include toolbars

  include ../footer
