.page-header
  h1#toolbars Toolbars
p
  | The toolbars contain tool buttons which perform various functions when
  | clicked.  Toolbars can be moved by holding down the left mouse button
  | on the toolbars handle (found on the left) and dragging.  Toolbars
  | may also be enabled or disabled via the <tt>View -> Toolbars</tt> menu.

h2#toolbars-project Project
img(src='images/manual/toolbar-project.png')
p
  | The <tt>Project</tt> toolbar allows quick access to
  | <a href='#projects-file-operations'>project file operations</a>
  | new, open and save as well as export and snapshot.

h2#toolbars-view View
img(src='images/manual/toolbar-view.png')
p
  | The <tt>View</tt> toolbar allows you to select
  | <a href='#simulation-view'>simulation view options</a> to select
  | the surface view or enable/disable the tool path, tool, workpiece bounds,
  | or axes.

h2#toolbars-perspective Perspective
img(src='images/manual/toolbar-perspective.png')
p
  | The <tt>Perspective</tt> toolbar allows you to quickly change the
  | <a href='#simulation-snapping'>simulation perspective</a> to either
  | isometric, front, back, left, right, top or bottom.
