.page-header
    h1#about About

p
  | OpenSCAM is an
  | <a href='http://opensource.org/'>Open-Source</a>
  | software which simulates 3-axis
  | <a href='http://en.wikipedia.org/wiki/CNC'>CNC</a>
  | milling or engraving.  It is a fast, flexible and user
  | friendly simulation software for the DIY and Open-Source
  | community.  OpenSCAM works on Linux, OS-X and Windows.

p
  | Being able to simulate is a critical part of creating
  | CNC tool paths. Programming a CNC with out a simulator
  | is cutting with out measuring; it's both dangerous and
  | expensive. With OpenSCAM you can preview the results of
  | your cutting operation before you fire up your
  | machine. This will save you time and money and open up a
  | world of creative possibilities by allowing you to
  | rapidly visualize and improve upon designs with out
  | wasting material or breaking tools.
