.page-header
  h1#community Get Involved

p There are several ways you can get involved in the OpenSCAM community.
ul
  li
    | <a
    | href='http://groups.google.com/group/openscam-announcements/boxsubscribe'
    | >Join the Mailing List:</a> This is a very low volume mailing list for
    | OpenSCAM announcements.

  li
    | <a href='http://groups.google.com/group/openscam-users/boxsubscribe'
    | >Join the User's Forum:</a> Discuss OpenSCAM with other users.

  li
    a(href=repoURL) Join the Development:
    | &nbspGet involved with development on GitHub by&nbsp;
    a(href=repoURL + '/issues/new') opening an issue
    | &nbsp;or submitting a pull request.
