ul.nav.sidenav
  li
    a(href='#about') About
  li
    a(href='#quick-start') Quick Start
  li
    a(href='#mission') Mission
  li
    a(href='#screenshots') Screenshots
  li
    a(href='#status') Status
    ul.nav
      li
        a(href='#features') Features
      li
        a(href='#limitations') Limitations
      li
        a(href='#missing-linuxcnc-codes') Missing G-Codes
      li
        a(href='#future-plans') Future Plans
  li
    a(href='#donations') Donations
  li
    a(href='#community') Get Involved
  li
    a(href='#legal') Legal
  li
    a(href='#contact') Contact
