.page-header
  h1#mission Mission
p
  | At home manufacturing is one of the next big technology
  | revolutions.  Much like the PC was 30 years ago.  There
  | have been major advances in desktop 3D printing
  | (e.g. <a href='http://www.makerbot.com/'>Maker Bot</a>)
  | yet uptake of desktop CNCs has lagged despite the
  | availability of <a href='http://www.ebay.com/sch/?_nkw=cnc+c3040'>cheap
  | CNC machines</a>. One of the major reasons for this is a
  | lack of Open-Source simulation and
  | <a href='http://en.wikipedia.org/wiki/Computer-aided_manufacturing'>CAM</a>
  | (3D model to tool path conversion) software. CAM and NC machine simulation
  | present some very difficult, yet not insurmountable,
  | programming challenges, as is evidenced by 30+ years of
  | academic papers on these topics. Whereas, 3D printing
  | simulation and tool path generation are much easier.

p
  | OpenSCAM aims to be a useful CNC simulation platform for the
  | DIY and Open-Source community. OpenSCAM should serve the highly
  | technical user but remain simple and user friendly enough to
  | support less techie types as well. To this end OpenSCAM will
  | focus on facilitating specific simulation tasks (i.e. use cases)
  | such as engraving and PCB board cutting as well as more advanced
  | simulation techniques and programming interfaces.
