.page-header
  h1#quick-start Quick Start

p Click on the images below to get started:

a(href='download.html')
  img(src='images/download.png')
a(href='download.html#install')
  img(src='images/install.png')
a(href='manual.html')
  img(src='images/help.png')
