.page-header
  h1#screenshots Screenshots

p Click on the screenshots below to see a larger view.
.gallery
  - var screenshots = 'openscam simulation_view tool_view tool_path_view ';
  - screenshots += 'workpiece_view full_layout';
  each img in screenshots.split(' ')
    a(href='images/screenshots/' + img + '.png', rel='shadowbox[Screnshots]')
      img(src='images/screenshots/thumbs/' + img + '.png')
