*~
\#*
.DS_Store
/local.json
/tmp
/builds
/releases
/buildbot.tac
/master.cfg.sample
/state.sqlite
/state.sqlite-shm
/state.sqlite-wal
/twistd.pid
/twistd.log*
/http.log*
__pycache__
/dist
/node_modules
/package-lock.json
/bin
/lib
/pyvenv.cfg
/include
