[Unit]
Description=Build Worker
After=network.target

[Service]
User=admin
WorkingDirectory=/opt/worker
ExecStart=buildbot-worker start --nodaemon %I
Restart=always
RestartSec=4

[Install]
WantedBy=multi-user.target
