ul.nav.sidenav
  li
    a(href='#overview') Overview
  li
    a(href='#projects') Projects
    ul.nav
      li
        a(href='#projects-open-close-save-new') Open, Close, Save & New
      li
        a(href='#projects-detecting-modifications') Detecting Modifications
      li
        a(href='#projects-viewing-examples') Viewing the Examples
  li
    a(href='#simulation') Simulation
    ul.nav
      li
        a(href='#simulation-start-stop') Starting, Stopping & Smoothing
      li
        a(href='#simulation-progress') Progressbar
      li
        a(href='#simulation-resolution') Adjusting the Resolution
      li
        a(href='#simulation-view') Changing View Options
      li
        a(href='#simulation-snapping') Perspective Snapping
      li
        a(href='#simulation-partial') Partial Simulations
  li
    a(href='#layout') Layout
    ul.nav
      li
        a(href='#layout-toolbars') Toolbars
      li
        a(href='#layout-docks') Docks
      li
        a(href='#layout-reset') Reset
  li
    a(href='#playback') Tool Path Playback
    ul.nav
      li
        a(href='#playback-toolbar') Toolbar
      li
        a(href='#playback-position') Position
  li
    a(href='#nc-files') NC Files
    ul.nav
      li
        a(href='#nc-files-add-remove') Adding & Removing
      li
        a(href='#nc-files-types') Supported Types
  li
    a(href='#tools') Tools
    ul.nav
      li
        a(href='#tools-add-remove') Adding & Removing
      li
        a(href='#tools-order') Changing Tool Order
      li
        a(href='#tools-description') Description
      li
        a(href='#tools-units') Units
      li
        a(href='#tools-shape') Shape
      li
        a(href='#tools-dimensions') Dimensions
      li
        a(href='#tools-auto-add') Auto Added Tools
  li
    a(href='#workpiece') Workpiece
    ul.nav
      li
        a(href='#workpiece-automatic') Automatic
      li
        a(href='#workpiece-manual') Manual
      li
        a(href='#workpiece-view') View
