.page-header
  h1#projects Projects

p
  | This section describes how to work with project files.  OpenSCAM project
  | files keep track of the three main parts of simulation:
ul
  li Tool Paths (i.e. NC files)
  li Tool tables
  li Workpiece descriptions

p
  | Project files are stored as
  | <a href='http://en.wikipedia.org/wiki/XML'>XML</a> files on disk.
  | These files contain pointers to NC files, so they should be kept
  | together.

p
  | You can open NC files directly in OpenSCAM and it will simulate but
  | in order to save your tool table and workpiece configuration you need
  | to use a project file.

h2#projects-open-close-save-new Open, Close, Save & New
img(src='images/manual/menu-file.png')
p
  | The main operations on project files are open, close, save, save as
  | and new.  These operations can all be accessed through the File menu.

h2#projects-detecting-modifications Detecting Modifications
img(src='images/manual/modified.png')
p
  | OpenSCAM will automatically detect any changes to the project file.
  | When it does this you will notice a '*' in the window's title bar.
  | Any attempt to close the current project, either by exiting the program,
  | or creating or opening a new project will bring up a dialog which
  | will ask you to either save the current project, discard the changes
  | and proceed with the requested operation or cancel the operation.

h2#projects-viewing-examples Viewing the Examples
p
  | The File menu contains a submenu of example projects.  You may open
  | these by selecting the menu item.

img(src='images/manual/menu-examples.png')
