.page-header
  h1#simulation Simulation
p
  | This section describes how to configure and control simulations.

a(href='images/manual/view-simulation.png', rel='shadowbox')
  img(src='images/manual/thumbs/view-simulation.png')

h2#simulation-start-stop Starting, Stopping & Smoothing
img(src='images/manual/toolbar-simulation.png')
p
  | Simulations can be stopped, started or restarted via the simulation toolbar.
  | Any time you change the simulation's configuration you will need to
  | rerun to view the changes.

p
  | When you first open a project the simulation will run automatically.
  | Simulations will also automatically run when one of the NC files changes
  | on disk. You can abort a simulation by clicking the stop button.

p
  | If you enable smoothing (on by default), an extra smoothing operation
  | will be performed when the simulation is done.  Smoothing does not
  | affect simulation accuracy but can improve the visualization.

h2#simulation-progress Progressbar
img(src='images/manual/progressbar.png')
p
  | The progressbar can be found at the bottom of the Simulation View tab.
  | It displays an estimate of the current simulation's progress.

h2#simulation-resolution Adjusting the Resolution
img(src='images/manual/resolution.png')
p
  | The simulator can run at different resolutions.  Higher resolutions
  | improve accuracy but increase simulation time.  OpenSCAM automatically
  | chooses the simulation resolution based on the simulation inputs.
  | You can select a higher or lower resolution using the resolution
  | combobox.
p
  | It is also possible to manually set the resolution by editing the
  | resolution spinbox.  Resolution specifies the simulation grid
  | in millimeters.  For example, if your workpiece is 100x100x10 mm and you
  | select a resolution of 0.1 mm then OpenSCAM will probe 100,000,000
  | points in 3D space.  As the simulation value decreases, simulation
  | complexity increases exponentially.
p
  | Note, resolution is not affect by the project units setting.

h2#simulation-view Changing View Options
img(src='images/manual/toolbar-view.png')

h2#simulation-snapping Perspective Snapping
img(src='images/manual/toolbar-perspective.png')

h2#simulation-partial Partial Simulations
