header_height = 60px
sidebar_width = 12em
anchor_offset = header_height + 15px

html *
  padding: 0
  margin: 0

body
  background: url(background.png)

#header
  height: header_height - 1
  background: #dde6ec
  border-bottom: 1px solid #888
  margin-bottom: 1em
  position: fixed
  top: 0
  width: 100%
  z-index: 10
  white-space: nowrap

  h1
    margin: 10px

#page
  margin-top: -(anchor_offset)

#sidebar
  width: sidebar_width
  position: fixed
  top: header_height
  bottom: 0
  left: 0
  overflow-x: hidden
  overflow-y: auto
  border-right: 1px solid #aaa
  box-shadow: 0 0 20px #ddd
  background: url(background.png) fixed
  white-space: nowrap

  a
    text-decoration: none
    color: inherit

    &:hover
      text-decoration: underline

  ul
    margin-top: 0.33em

  li
    list-style: none
    margin-bottom: 0.33em

  > ul > li
    font-size: 110%
    margin-left: 0.75em
    margin-top: 0.5em

    > ul > li
      font-size: 90%

      &:before
        content: '\b7\a0'

      > ul > li
        margin-left: 1em
        font-weight: bold

#content
  margin-left: sidebar_width
  bottom: 0
  overflow-y: auto
  padding: 0 2em 20em 2em
  max-width: 40em
  min-width: 10em

  h1, h2, h3, .func
    margin: 2em 0 0.5em 0

    &:before
      display: block
      content: ' '
      margin-top: anchor_offset
      height: anchor_offset
      visibility: hidden

  .func
    margin: 1em 0 5em 0

    .decl
      font-size: 120%
      font-weight: bold
      border-bottom: 4px solid #ddd
      border-left: 2px solid #eee
      display: block
      padding-left: 2.5em
      text-indent: -2em
      background: rgba(200, 200, 200, 0.1)

    .func-name
      margin-right: 1em
      font-weight: bold
      font-size: 110%

  code
    background-color: rgba(200, 200, 200, 0.3)
    padding: 2px
    border-radius: 3px
    overflow-x: auto

  code.example
    margin-bottom: 0.75em
    padding: 0.5em 1em
    border-left: 5px solid #bbb

  pre code
    display: block

  h1:first-of-type
    margin-top: 0

  ul
    margin-bottom: 0.75em

  li
    margin-left: 2em

  p
    margin: 1em 0


.sim-image
  margin: 1px

  &:hover
    border: 1px dashed black
    margin: 0

