html * {
    padding: 0;
    margin: 0;
}


body {
    background: url(background.png);
}

#sidebar {
    overflow-x: hidden;
    overflow-y: auto;
    width: 200px;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    padding: 15px 0 30px 30px;
    border-right: 1px solid #666;
    box-shadow: 0 0 20px #bbb;
    background: url(background.png) fixed;
}

#sidebar a {
    text-decoration: none;
    color: inherit;
}

#sidebar a:hover {
    text-decoration: underline;
}

#sidebar div {
    margin-left: 0.5em;
    color: #000;
}

#sidebar .level {
    margin-bottom: 0.33em;
}

#sidebar .L0 {
    font-size: 110%;
    margin-left: -1em;
    margin-top: 0.5em;
}

#sidebar .L2 {
    margin-left: -1em;
}

#sidebar .L2:before {
    content: "\b7\a0";
}

#sidebar .L3 {
    margin-left: 0.5em;
    font-weight: bold;
}

#sidebar .L3:before {
    /*content: "\b7\a0";*/
}


#sidebar .func:after {
    content: "()";
}

#content {
    margin-left: 235px;
    padding-bottom: 10em;
    padding-top: 1em;
    padding-left: 2em;
    width: 40em;
}


#content .level {
    margin-bottom: 1em;
}

#content .level .title {
    margin-bottom: 1em;
}


#content .func {
    margin-bottom: 3em;
    margin-left: 1em;
}

#content .func .decl {
    font-size: 120%;
    font-weight: bold;
    white-space: nowrap;
    margin-left: -0.5em;
}

#content .func .func-name {
    margin-right: 1em;
    font-weight: bold;
    font-size: 110%;
}

#content .example {
    margin-bottom: 0.75em;
    padding-left: 0.5em;
    border-left: 5px solid #bbb;
    font-size: 110%;
    white-space: pre;
}


#content li {
    margin-left: 2em;
}

#content p {
    margin: 0.5em 0;
}

#content ul {
    margin-bottom: 0.75em;
}


.sim-image {
    margin: 1px;
}

.sim-image:hover {
    border: 1px dashed black;
    margin: 0;
}
