.page-header
  h1#legal Legal

h3 License
p
  | OpenSCAM is <a href='http://opensource.org/'>Open-Source</a>
  | software.  You may use it under the terms of the
  | <a href='http://www.gnu.org/licenses/gpl-2.0.html'>GNU GENERAL PUBLIC
  | LICENSE Version 2</a>.

h3 Disclaimer
p
  strong
    | Always use caution when operating any dangerous
    | machinery.  Simulation is no substitute for carefully
    | checking the accuracy and safety of your CNC programs.
    | This or any other software could very well make
    | mistakes.  Programs which appear correct in simulations
    | might be very dangerous to run on real machines.  The
    | results of running any CNC program on a real machine are
    | the sole responsibility of the CNC operator.  Read the
    | <a href='http://www.gnu.org/licenses/gpl-2.0.html'>software license</a>
    | for additional disclaimers.
