ul.nav.sidenav
  li
    a(href='#about') About
    ul.nav
      li
        a(href='#mission') Mission
  li
    a(href='#downloads') Downloads
    ul.nav
      li
        a(href='#source-code') Source Code
      li
        a(href='#previous-releases') Previous Releases
  li
    a(href='#screenshots') Screenshots
  li
    a(href='#status') Status
    ul.nav
      li
        a(href='#features') Features
      li
        a(href='#limitations') Limitations
      li
        a(href='#missing-linuxcnc-codes') Missing LinuxCNC Codes
      li
        a(href='#future-plans') Future Plans
  li
    a(href='#donations') Donations
  li
    a(href='#community') Get Involved
  li
    a(href='#legal') Legal
  li
    a(href='#contact') Contact
