.page-header
  h1#screenshots Screenshots

p Click on the screenshots below to see a larger view.
p.screenshots
  a(href='images/screenshots/simulation_view.png', rel='shadowbox[Screnshots]')
    img(src='images/screenshots/thumbs/simulation_view.png')
  a(href='images/screenshots/tool_view.png', rel='shadowbox[Screnshots]')
    img(src='images/screenshots/thumbs/tool_view.png')
  a(href='images/screenshots/tool_path_view.png', rel='shadowbox[Screnshots]')
    img(src='images/screenshots/thumbs/tool_path_view.png')
  a(href='images/screenshots/workpiece_view.png', rel='shadowbox[Screnshots]')
    img(src='images/screenshots/thumbs/workpiece_view.png')
