.page-header
  h1#install Installation
p
  | For Windows or Mac OS-X simply run the installer and follow the
  | instructions it gives you.

p
  | To install any of the Linux .deb packages open a terminal and go to the
  | directory where you downloaded the package and run the following commands:
pre
  code.
    sudo apt-get install gdebi
    sudo gdebi openscam_*.deb

p Make sure you've got the right package for your system.
p Alternatively, open the package in your system's package manager.
