ul.nav.sidenav
  li
    a(href='#current-release') Current Downloads
  li
    a(href='#install') Installation
  li
    a(href='#run') Starting OpenSCAM
  li
    a(href='#source-code') Source Code
  li
    a(href='#debug-release') Debug Downloads
  li
    a(href='#previous-releases') Previous Releases
