.page-header
  h1#run Starting OpenSCAM

p
  | For more information about running OpenSCAM see
  | <a href="manual.html">the user's manual</a>.

h3 Windows
p
  | In Windows you will find OpenSCAM in your Start menu under
  | <tt>All Programs -> OpenSCAM -> OpenSCAM</tt>.

h3 Mac OS-X
p
  | On Mac OS-X OpenSCAM is installed in the Applications folder.
  | In Finder under <tt>PLACES</tt> you will find the <tt>Applications</tt>.
  | Open this folder and double click on the <tt>OpenSCAM</tt> icon.

h3 Linux
p
  | In Linux, if you've installed a package, you should find OpenSCAM in
  | system menu under <tt>Other</tt>.  Alternatively, you can open a terminal
  | and run <tt>openscam</tt>.

p
  | If you bulit OpenSCAM from source with out installing.  Then you must
  | open a terminal, go to the directory where built OpenSCAM and run
  | <tt>./openscam</tt>.
